/* Font setup */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.btn-primary {
    padding: 18px 22px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    border: none;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;

}

/* Navigation style */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 220px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;

    align-items: center;

}

.tittle {
    color: var(--dark-01, #131313);
    font-size: 2.2rem;
    font-weight: 700;

}

.navbar>ul {
    display: flex;


}

.navbar>ul>li {
    list-style: none;
    margin-left: 40px;
    font-size: 1rem;
    font-weight: 500;
}

.navbar>ul>li>a {
    text-decoration: none;
    color: var(--dark-02, #424242);

}

/* Banner Section Style */

.banner-conteinar {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-tittle {
    color: var(--dark-01, #131313);
    font-size: 3.3rem;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 10px;

}

.banner-img {

    margin-top: 30px;
    width: 100%;
}

/* Feature section style */

main {
    max-width: 1440px;
    margin: 50px auto;

}

.teams {
    display: flex;
    align-items: center;
}

.teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.teams-conteinar {
    padding-right: 70px;
    padding-left: 70px;
}

.ql {
    color: var(--dark-03, #727272);
    font-size: 2rem;
    font-weight: 500;

}

.oo {
    color: var(--dark-01, #131313);
    font-size: 2rem;
    font-weight: 700;

}

.fe {
    color: #FF900E;
    font-size: 2rem;
    font-weight: 700;

}

.teams-text {
    color: var(--dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
}

/* feature section styles */

.features {
    display: flex;
    margin-top: 100px;
    gap: 100px;

}

.feature-tittle {
    color: var(--dark-01, #131313);
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 18px;
    border-left: 5px solid #FF900E;
    padding-left: 15px;
}

.tittle-text {
    color: var(--dark-03, #727272);

    font-size: 1rem;

    font-weight: 400;

}

.box {

    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin: 20px 0;

}

.box-tittle {
    padding: 30px 40px 10px 40px;
    margin-bottom: 0;
}

.box-text {
    padding: 0px 40px 30px 40px;

}

.feature-img img{
    height: 90%;
    margin-left: 50px;
}

.badge-10years {
    border-radius: 8px;
    background: #FF900E;
    width: 200px;
    padding: 40px 15px;
    text-align: center;
    color: #FFF;
    position: relative;
    bottom: 100px;
    
}

.badge-10years h2 {
    color: #FFF;

    margin: 0px;
    font-size: 2.2rem;

    font-weight: 700;
}

/* facts section style */
 
.Facts{
    margin-top: 50px;
}

.facts-tittle{
    color: var(--dark-01, #131313);

font-size: 2.2rem;

font-weight: 700;

}

.facts-text{
    color: var(--dark-03, #727272);

font-size: 1rem;

font-weight: 400;

}

.fatcs-card-conteinar{
    display: flex;
    justify-content:space-around;
}

.card{
    margin-top: 100px;
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding: 30px 30px;
}

.card-stats{
    color: var(--dark-02, #424242);

font-size: 2.2rem;
margin-top: 5px;
margin-bottom: 5px;
font-weight: 600;

}

.card-tittle{
    color: var(--dark-03, #727272);

font-size: 1rem;

font-weight: 600;

}

/* Sponsours Section Styles */

.Sponsours{
    text-align: center;
    margin-top: 100px;
    
}

.logos{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    

}

















































/* Media Quary Section */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    .navbar,
    .navbar>ul,
    .teams 
     {
        flex-direction: column;
        padding: 20px;
    }

    .teams-img {
        grid-template-columns: 1fr;
    }

    .teams-conteinar {
        margin-top: 20px;
    }

    .features{
        flex-direction: column;
    }
    .feature-img img{
        width: 100%;
        margin-left: 0px;
    }

   

    .fatcs-card-conteinar{
        flex-direction: column;
        padding: 20px;
        gap: 2px;
    }
   
    .logos{
        flex-direction: column;
       width: 40%;
       margin-left: 120px;
       gap: 20px;
        
    }
}

@media screen and (min-width:576px) and (max-width:992px) {

    .navbar,
    .navbar>ul {
        flex-direction: column;
        padding: 20px;
    }
    .teams 
    {
       flex-direction: column;
       padding: 20px;
   }

   .teams-img {
       grid-template-columns: 1fr;
   }

   .teams-conteinar {
       margin-top: 20px;
   }
    .features{
        flex-direction: column;
    }
    .feature-img img{
        width: 100%;
        margin-left: 0px;
    }
    .fatcs-card-conteinar{
        flex-direction: column;
        padding: 20px;
        gap: 2px;
    }
    .logos{
        flex-direction: column;
        width: 30%;
        margin-left: 300px;
        gap: 20px;
    }
}